/* FONTS */
.bold {
  font-weight: 700;
}
.uppercase {
  text-transform: uppercase;
}
/* COLORS */
html,
body {
  font-family: 'Arial', sans-serif;
  font-weight: 400;
  color: #fff;
  font-size: 62.5%;
}
figure {
  margin: 0;
}
body {
  margin: 0;
}
a {
  text-decoration: none;
  color: #fff;
}
.no-margin {
  margin: 0 !important;
}
header {
  padding: 70px 173px 38px 64px;
  border-bottom: 3px solid #fff;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  background-color: #00498e;
}
header .status {
  font-size: 6.7rem;
  line-height: 52px;
  min-width: 240px;
}
header .curr-page {
  font-size: 2.5rem;
  line-height: 19px;
}
main {
  display: flex;
  justify-content: space-between;
}
main .internet-status {
  padding: 15px 24px 15px 23px;
  margin-left: 23px;
  border-radius: 6px;
  color: #2274c1;
  background: #fff;
  font-size: 3rem;
  line-height: 22px;
}
main figure {
  padding: 84px 0 89px;
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main figure:first-of-type {
  background: #609ad1;
}
main figure:nth-of-type(2) {
  background: #4781b8;
}
main figure:nth-of-type(3) {
  background: #1f63a3;
}
main figure:nth-of-type(4) {
  background: #2274c1;
}
main figure img {
  max-height: 135px;
}
main figure figcaption {
  font-size: 4.2rem;
}
main figure figcaption h3 {
  display: flex;
  align-items: center;
  margin: 48px 0 0;
  font-size: 4.2rem;
  font-weight: normal;
  line-height: 32px;
  text-align: center;
}
main figure figcaption h3 .until-time {
  margin-left: 10px;
}
footer {
  background: #00498e;
  display: flex;
  justify-content: space-between;
  padding: 45px 0 140px;
}
footer figure {
  width: 25%;
  margin-bottom: 45px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
footer figure img {
  max-height: 64px;
  margin-right: 25px;
}
footer figure figcaption h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2.3rem;
  font-weight: normal;
}
section#status body {
  background: #00498e;
}
section#blocked header {
  background-color: #d27138;
}
section#blocked header .description {
  font-size: 2.3rem;
  max-width: 655px;
  display: flex;
  align-self: center;
  margin: auto auto auto 90px;
}
section#blocked main figure:first-of-type {
  background: #e76c22;
}
section#blocked main figure:nth-of-type(2) {
  background: #f37b32;
}
section#blocked main figure:nth-of-type(3) {
  background: #e87731;
}
section#blocked main figure:nth-of-type(4) {
  background: #c75d1c;
}
section#blocked main figure .status-descr {
  font-size: 2.8rem;
  margin-top: 0;
}
section#blocked main figure figcaption h3 {
  justify-content: center;
  margin-bottom: 15px;
  font-size: 3.3rem;
}
section#blocked footer {
  height: 100px;
  background: #d27138;
  display: flex;
  justify-content: flex-start;
}
section#time_up header {
  background-color: #67696d;
}
section#time_up header .description {
  font-size: 2.3rem;
  max-width: 655px;
  display: flex;
  align-self: center;
  margin: auto auto auto 90px;
}
section#time_up main figure {
  width: 50%;
}
section#time_up main figure:first-of-type {
  background: #595a5c;
}
section#time_up main figure:nth-of-type(2) {
  background: #393939;
}
section#time_up main figure .status-descr {
  font-size: 2.8rem;
  margin-top: 0;
}
section#time_up main figure figcaption h3 {
  justify-content: center;
  margin-bottom: 15px;
  font-size: 3.3rem;
}
section#time_up footer {
  justify-content: space-around;
  background: #67696d;
}
section#not_blocked header {
  background-color: #2b9034;
}
section#not_blocked header .description {
  font-size: 2.3rem;
  max-width: 655px;
  display: flex;
  align-self: center;
  margin: auto auto auto 90px;
}
section#not_blocked main figure {
  padding: 84px 40px 89px;
  width: 33.33%;
  justify-content: flex-start;
}
section#not_blocked main figure:first-of-type {
  background: #1d6b23;
}
section#not_blocked main figure:nth-of-type(2) {
  background: #41aa4a;
}
section#not_blocked main figure:nth-of-type(3) {
  background: #6bc173;
}
section#not_blocked main figure .status-descr {
  font-size: 2.8rem;
  margin-top: 0;
}
section#not_blocked main figure figcaption h3 {
  justify-content: center;
  margin-bottom: 15px;
  font-size: 3.3rem;
}
section#not_blocked footer {
  justify-content: flex-start;
  background: #2b9034;
}
@media screen and (max-width: 1260px) {
  header {
    padding: 50px 50px 50px 35px;
  }
  main {
    flex-wrap: wrap;
  }
  main figure {
    width: 50%;
  }
  main figure figcaption {
    font-size: 3.7rem;
  }
  footer {
    padding: 45px 0 45px;
  }
  footer figure {
    text-align: center;
    flex-direction: column;
    align-items: center;
  }
  footer figure img {
    margin-right: 0;
    margin-bottom: 25px;
  }
  section#blocked header {
    padding: 50px 35px 50px 35px;
    flex-wrap: wrap;
  }
  section#blocked header .status {
    order: 1;
    font-size: 5rem;
  }
  section#blocked header .description {
    margin: 20px 0;
    align-self: flex-start;
    max-width: 100%;
    order: 3;
    width: 100%;
  }
  section#blocked header .curr-page {
    order: 2;
    font-size: 2rem;
  }
  section#blocked footer {
    height: auto;
  }
  section#time_up header {
    padding: 50px 35px 50px 35px;
    flex-wrap: wrap;
  }
  section#time_up header .status {
    order: 1;
    font-size: 5rem;
  }
  section#time_up header .description {
    margin: 20px 0;
    align-self: flex-start;
    max-width: 100%;
    order: 3;
    width: 100%;
  }
  section#time_up header .curr-page {
    order: 2;
    font-size: 2rem;
  }
  section#not_blocked header {
    padding: 50px 35px 50px 35px;
    flex-wrap: wrap;
  }
  section#not_blocked header .status {
    order: 1;
    font-size: 5rem;
  }
  section#not_blocked header .description {
    margin: 20px 0;
    align-self: flex-start;
    max-width: 100%;
    order: 3;
    width: 100%;
  }
  section#not_blocked header .curr-page {
    order: 2;
    font-size: 2rem;
  }
  section#not_blocked main figure {
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    min-height: 220px;
  }
  section#not_blocked main figure figcaption {
    margin-left: 25px;
  }
  section#not_blocked main figure figcaption h3 {
    margin-top: 0;
    text-align: left;
    justify-content: flex-start;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 750px) {
  main .internet-status {
    padding: 10px 15px 10px;
    font-size: 2.2rem;
  }
  main figure {
    padding: 45px 20px;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
  }
  main figure img {
    max-width: 65px;
    max-height: none;
    margin-right: 25px;
  }
  main figure figcaption h3 {
    font-size: 2.8rem;
    margin-top: 0;
  }
  header {
    flex-wrap: wrap;
    flex-direction: row;
    padding: 50px 50px 50px 35px;
  }
  header .curr-page {
    order: 2;
  }
  header .status {
    order: 1;
    font-size: 5.8rem;
  }
  header .description {
    width: 100%;
    order: 3;
  }
  footer {
    flex-wrap: wrap;
  }
  footer figure {
    width: 50%;
  }
  footer figure img {
    margin: auto auto 15px;
    max-width: 100%;
  }
  footer figure figcaption {
    margin: auto;
  }
  footer figure figcaption h3 {
    font-size: 2rem;
  }
  section#blocked header {
    flex-direction: row;
    font-size: 2rem;
    padding: 50px 35px 50px 35px;
  }
  section#blocked main figure {
    padding: 45px 10px 45px 35px;
  }
  section#blocked main figure figcaption h3 {
    text-align: left;
    justify-content: flex-start;
  }
  section#blocked footer {
    height: auto;
  }
  section#time_up header {
    flex-direction: row;
  }
  section#time_up main figure {
    padding: 45px 10px 45px 35px;
    width: 100%;
  }
  section#time_up main figure figcaption h3 {
    text-align: left;
    justify-content: flex-start;
  }
  section#not_blocked header {
    flex-direction: row;
  }
  section#not_blocked main figure {
    min-height: 135px;
    padding: 45px 10px 45px 35px;
  }
  section#not_blocked main figure figcaption h3 {
    text-align: left;
    justify-content: flex-start;
  }
}
@media screen and (max-width: 450px) {
  header {
    padding: 35px 69px 23px 32px;
  }
  header .status {
    font-size: 2.9rem;
    min-width: 0;
    line-height: 24px;
  }
  header .curr-page {
    font-size: 1.2rem;
  }
  header .description {
    margin-top: 15px;
    font-size: 1rem;
  }
  main .internet-status {
    font-size: 1.2rem;
    padding: 6px 9px;
    margin-left: 13px;
    line-height: 10px;
  }
  footer figure {
    width: 25%;
  }
  section#blocked header,
  section#status header,
  section#time_up header,
  section#not_blocked header {
    padding: 35px 20px 23px 32px;
  }
  section#blocked header .status,
  section#status header .status,
  section#time_up header .status,
  section#not_blocked header .status {
    min-width: 0;
    font-size: 2.9rem;
  }
  section#blocked header .description,
  section#status header .description,
  section#time_up header .description,
  section#not_blocked header .description {
    margin-top: 8px;
    font-size: 1rem;
  }
  section#blocked header .curr-page,
  section#status header .curr-page,
  section#time_up header .curr-page,
  section#not_blocked header .curr-page {
    font-size: 1.2rem;
  }
  section#blocked main figure,
  section#status main figure,
  section#time_up main figure,
  section#not_blocked main figure {
    padding: 19px 31px 19px 31px;
  }
  section#blocked main figure .status-descr,
  section#status main figure .status-descr,
  section#time_up main figure .status-descr,
  section#not_blocked main figure .status-descr {
    font-size: 1.4rem;
    margin-top: 0;
    margin-bottom: 0;
  }
  section#blocked main figure figcaption h3,
  section#status main figure figcaption h3,
  section#time_up main figure figcaption h3,
  section#not_blocked main figure figcaption h3 {
    font-size: 1.9rem;
    margin-bottom: 10px;
  }
  section#blocked footer,
  section#status footer,
  section#time_up footer,
  section#not_blocked footer {
    padding: 0;
    height: auto;
  }
  section#blocked footer figure,
  section#status footer figure,
  section#time_up footer figure,
  section#not_blocked footer figure {
    margin: 25px 0 21px;
  }
  section#blocked footer figure img,
  section#status footer figure img,
  section#time_up footer figure img,
  section#not_blocked footer figure img {
    margin: auto auto 13px;
    max-height: 30px;
  }
  section#blocked footer figure figcaption h3,
  section#status footer figure figcaption h3,
  section#time_up footer figure figcaption h3,
  section#not_blocked footer figure figcaption h3 {
    font-size: 1.1rem;
    margin-bottom: 6px;
  }
  section#status main figure img {
    max-width: none;
    max-height: 52px;
    margin-right: 35px;
  }
  section#status main figure figcaption h3 {
    margin-bottom: 0;
  }
  section#time_up main figure {
    height: 163px;
  }
  section#time_up main figure figcaption {
    margin: 0;
  }
  section#time_up main figure figcaption h3:first-of-type {
    margin-bottom: 8px;
    line-height: 16px;
  }
  section#time_up main figure figcaption h3:last-of-type {
    line-height: 15px;
  }
  section#not_blocked .try-again {
    margin: 0 !important;
  }
  section#not_blocked main figure figcaption {
    margin: 0;
  }
  section#not_blocked main figure figcaption h3:first-of-type {
    margin-bottom: 8px;
    line-height: 16px;
  }
  section#not_blocked main figure figcaption h3:last-of-type {
    line-height: 15px;
  }
  section#not_blocked footer figure {
    width: 50%;
  }
  section#blocked footer figure {
    width: 50%;
  }
  section#blocked main figure {
    padding: 19px 20px 19px 31px;
  }
  section#blocked main figure figcaption h3 {
    margin-bottom: 0;
  }
  section#blocked main figure figcaption .status-descr {
    line-height: 15px;
  }
}
